@import "tailwindcss";
/* :root{
  text-align: center;
} */

@theme {
  --breakpoint-xxs: 320px;   /* very small phones */
  --breakpoint-xsm: 425px;   /* small phones */
  --breakpoint-xs: 480px;    /* small phones / larger then xxs */
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer base {
  input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* (thumb_height (16px) - track_height (4px)) / -2 */
    background-color: #ffffff; /* white */
    height: 1rem; /* 16px */
    width: 1rem; /* 16px */
    border-radius: 9999px;
    pointer-events: auto; /* Crucial for interaction */
    border: 2px solid #6b7280; /* gray-500 */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none; /* Override default look */
    appearance: none;
    background-color: #ffffff; /* white */
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    pointer-events: auto;
    border: 2px solid #6b7280; /* gray-500 */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Horizontal padding utility for screens between 480px and 768px */
  @media (min-width: 480px) and (max-width: 767.98px) {
    .px-between-480-768 {
      padding-left: 1rem; /* 16px */
      padding-right: 1rem; /* 16px */
    }
    .card-px-between-480-768 {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }

  .home-container {
    padding-top: calc(var(--navbar-height, 92px) + 1rem); /* Default space for smaller screens */
  }

  @media (min-width: 768px) {
    .home-container {
      padding-top: calc(var(--navbar-height, 92px) + 4rem); /* 4rem space for screens >= 768px */
    }
  }
}
